.rules-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.rules-container {
  display: flex;
  flex-direction: column;
}

.rules-gallery-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rules-picture {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}
.rules-list {
  display: flex;
}

.rules-item:not(:first-child) {
  margin-left: 30px;
}

.rules-item {
  flex-basis: 270px;
}

.rules-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.rules-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
